@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-foreground: var(--foreground);
  --color-foreground-heading: var(--foreground-heading);
  --color-background: var(--background);
  --color-hover: var(--hover);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-card-hover: var(--card-hover);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-hover: var(--popover-hover);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --success: var(--success);
  --info: var(--info);
  --danger: var(--danger);
  --danger-foreground: var(--danger-foreground);

  --context-red: var(--context-red);
  --context-green: var(--context-green);
  --context-blue: var(--context-blue);

  --color-border: var(--border);
  --color-border-hover: var(--border-hover);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --spacing-xs: 0.625rem;
  --spacing-sm: 1.25rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 1.9rem;
  --spacing-xl: 3rem;

  --radius-xs: calc(var(--radius) - 9px);
  --radius-sm: calc(var(--radius) - 8px);
  --radius-lg: calc(var(--radius) - 7px);
  --radius-md: calc(var(--radius) - 6px);
  --radius-xl: var(--radius);

  --breakpoint-xs: 29rem;
  --breakpoint-2xl: 1400px;
}

:root {
  --radius: 0.9rem;
  --background: oklch(1 0 0);
  --hover: oklch(0.855 0 89.876);
  --foreground: oklch(0.184 0.008 285.577);
  --foreground-heading: oklch(0.155 0.004 285.899);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --card-hover: oklch(0.952 0 89.876);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --popover-hover: oklch(0.952 0 89.876);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);

  --accent: oklch(0.616 0.116 159.678);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --accent-hover: oklch(0.536 0.099 159.696);
  --destructive: oklch(0.637 0.208 25.331);
  --destructive-foreground: oklch(0.53 0.163 20.811);
  --success: oklch(0.676 0.105 161.228);
  --info: oklch(0.478 0.156 256.463);
  --danger: oklch(0.483 0.135 20.283);
  --danger-foreground: oklch(0.528 0.162 21.187);

  --border: oklch(0.92 0.004 286.32);
  --border-hover: oklch(0.878 0.007 286.259);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.76 0.166 154.675);

  --context-red: hsl(0, 54%, 40%);
  --context-green: hsl(141, 54%, 40%);
  --context-blue: hsl(207, 54%, 40%);
}

.dark {
  --radius: 0.9rem;
  --background: oklch(0.205 0 89.876);
  --foreground: oklch(0.925 0 89.876);
  --foreground-heading: oklch(0.985 0 89.876);
  --hover: oklch(0.298 0.002 286.291);
  --card: oklch(0.248 0 89.876);
  --card-foreground: oklch(0.925 0 89.876);
  --card-hover: oklch(0.31 0.002 286.296);
  --popover: oklch(0.226 0 89.876);
  --popover-foreground: oklch(0.925 0 89.876);
  --popover-hover: oklch(0.31 0.002 286.296);
  --primary: oklch(0.985 0 89.876);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.281 0 89.876);
  --secondary-hover: oklch(0.333 0 89.876);
  --secondary-foreground: oklch(0.985 0 89.876);
  --muted: oklch(0.274 0.005 286.033);
  --muted-foreground: oklch(0.712 0.013 286.067);

  --accent: oklch(0.616 0.116 159.678);
  --accent-foreground: oklch(0.985 0 89.876);
  --accent-hover: oklch(0.536 0.099 159.696);
  --destructive: oklch(0.396 0.133 25.723);
  --destructive-foreground: oklch(0.53 0.163 20.811);
  --success: oklch(0.676 0.105 161.228);
  --info: oklch(0.478 0.156 256.463);
  --danger: oklch(0.483 0.135 20.283);
  --danger-foreground: oklch(0.528 0.162 21.187);

  --border: oklch(0.301 0 89.876);
  --border-hover: oklch(0.42 0 89.876);
  --input: oklch(0.281 0 89.876);
  --ring: oklch(0.76 0.166 154.675);

  --context-red: hsl(0, 54%, 40%);
  --context-green: hsl(141, 54%, 40%);
  --context-blue: hsl(207, 54%, 40%);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    @apply overflow-y-scroll;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-foreground-heading;
  }
}

@layer utilities {
  .container {
    @apply mx-auto px-8 max-w-[87.5rem];
  }

  .container-size-xs {
    @apply mx-auto my-lg max-w-[405px];
  }

  .container-size-sm {
    @apply mx-auto my-lg max-w-[605px];
  }

  .container-size-md {
    @apply mx-auto my-lg max-w-[805px];
  }

  .icon-sm {
    @apply size-3;
  }

  .icon {
    @apply size-4;
  }

  .icon-lg {
    @apply size-5;
  }
}
